<h1 class="text-center">Speak to your coach</h1>

<form action="/answer">
  <div class="form-group">
    <input type="text" name="query" class="form-control" placeholder="What is your question?">
    <input class="form-control submit" type="submit">
  </div>
